<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>test</title>
	
</head>
<body id="test" style='font-family:"Courier",Georgia,Serif; font-size: 4pt'>
	<img src='photo3.png' />
<pre>	
  <%=	File.open('ascii.txt').readlines.to_s %>
<pre>	
</body>
</html>