<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>angular2.5</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-resource.min.js"></script>
	<script>
	angular.module('app', ['ngResource']); 


	function AppCtrl($scope, $resource) {  

		$scope.lookup = function(){
			
			$scope.result  = $resource('https://finance.google.com/finance/info', 
		                                     {
												client:'ig', 
												callback:'JSON_CALLBACK'},
		                                     	{
													get: {
														method:'JSONP', 
														params:{q: $scope.stockSymbol}, 
														isArray: true
													}
												}
										).get();
		}

	}

	</script>
</head>
<body>
	<div ng-controller="AppCtrl">
		<input type="text" ng-model="stockSymbol" />
		<button ng-click='lookup()'>Lookup</button>	
{{result[0].t}} {{result[0].l_cur}}		
	</div>
</body>
</html>