<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>angular3</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-resource.min.js"></script>
	<script>
	angular.module('app', ['ngResource']);
	
	function StockPortfolioCtrl($scope, $resource){

		$scope.stocks=[];
	    $scope.orderProp = 't';	

	    $scope.orderBy = function(col) {
			$scope.orderProp = col;
		}

		$scope.lookup = function(){
			
			$scope.financeResult  = $resource('http://www.google.com/finance/info?callback=JSON_CALLBACK&', 
		                                     {
												client:'ig', 
												callback:'JSON_CALLBACK'},
		                                     	{
													get: {
														method:'JSONP', 
														params:{q: $scope.stockSymbol, infotype:'infoquoteall'}, 
														isArray: true														
													}
												}
										);
			$scope.$parent.result = $scope.financeResult.get();							
		}

		$scope.updateTable = function(){
			if ($scope.$parent.result === undefined ||
				$scope.stocks.indexOf($scope.$parent.result[0]) !== -1){
				console.log('Stock exists in portfolio.');
			}else{
				console.log($scope.stocks.indexOf($scope.$parent.result[0]));
				if ($scope.$parent.result[0]===undefined){
					console.log('Stock invalid.');
				}else{
					var tmp = $scope.$parent.result[0];
					tmp.l_cur = parseFloat(tmp.l_cur);
					tmp.lo52 = parseFloat(tmp.lo52);
					tmp.hi52 = parseFloat(tmp.hi52);										
					$scope.stocks.push(tmp);	
				}
			}	
			
		}

		$scope.deleteStock =  function(stock){
			if (confirm('Delete '+stock.t+'?')){
				$scope.stocks.splice($scope.stocks.indexOf(stock), 1);
			}
		}

	}
	</script>	

</head>
<body>
	
  <div ng-controller="StockPortfolioCtrl">

		<input type="text" ng-model="stockSymbol" />
		<button ng-click='lookup()'>Lookup</button>{{result[0].name}} {{result[0].l_cur}}
		
		<br/>	
		<input ng-model="query" class='small'> (Filter)<br/><br/>
		<button ng-click='updateTable()'>Add to Portfolio</button>
	<table>
		<thead>
			<tr>
	        	<th ng-click="orderBy('t')">Symbol</th>
	        	<th ng-click="orderBy('name')">Description</th>
	        	<th ng-click="orderBy('l_cur')">Price</th>
	        	<th ng-click="orderBy('lo52')">52 Week Low</th>
	        	<th ng-click="orderBy('hi52')">52 Week High</th>	
	    	</tr>
		</thead>
		<tbody>
			<tr ng-repeat="stock in stocks | filter:query | orderBy:orderProp ">
	        	<td>
					<a href='https://www.google.com/finance?q={{stock.e}}%3A{{stock.t}}'>{{stock.t}}</a>
				</td>
	        	<td>{{stock.name}}</td>
	        	<td style='text-align: right'>{{stock.l_cur.toFixed(2)}}</td>
	        	<td style='text-align: right'>{{stock.lo52.toFixed(2)}}</td>	
	        	<td style='text-align: right'>{{stock.hi52.toFixed(2)}}</td>	
				<td class='buttons'>
					<button ng-click="deleteStock(stock)">x</button>
				</td>	
	    	</tr>
		</tbody>
	</table>
  </div>                    
</body>
</html>