<!DOCTYPE html>
<!-- Minimal Angular -->
<html ng-app> <!--  ... Declaring an Angular Application, angular directives -->
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>angular1</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script> <!-- script -->
</head>
<body>
	<input type="text" ng-model="myModel" value="{{myModel}}" /> <!-- ng-model directive, two way data binding  -->
	<br />
	<input type="text" ng-model="myModel" value="{{myModel}}" />
</body>
</html>