* {
    font-size: 12px;
}

body {
    font-family: helvetica, tahoma, verdana, sans-serif;
    padding: 20px;
    font-size: 13px;
    margin: 0;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 15px;
}

.demo-info {
    background: #FFFEE6;
    color: #8F5700;
    padding: 12px;
}

.demo-tip {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    float: left;
}

#fm {
    margin: 0;
    padding: 10px 30px;
}

.ftitle {
    font-size: 14px;
    font-weight: bold;
    color: #666;
    padding: 5px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.fitem {
    margin-bottom: 5px;
}

.fitem label {
    display: inline-block;
    width: 80px;
}