<!doctype html>
<html ng-app="GoogleFinance">
	<head>
	    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
		 <script src="http://code.angularjs.org/1.0.6/angular-resource.js"></script>
		 <script>
			angular.module('GoogleFinance', ['ngResource']);

			function AppCtrl($scope, $resource) {
				$scope.googleFinance = $resource('https://finance.google.com/finance/info', 
			                                     {client:'ig', q: 'AAPL', callback:'JSON_CALLBACK'},
			                                     {get: {method:'JSONP', isArray: true}});

			    $scope.indexResult = $scope.googleFinance.get();
			
				$scope.doSearch = function () {
					console.log($scope.searchTerm)
		        	$scope.indexResult = $scope.googleFinance.get({q: $scope.searchTerm});
		    	};
			}
	
		 </script>
	</head>
<body>

    <div ng-controller="AppCtrl">
	 <form class="form-horizontal">
	        <input type="text" ng-model="searchTerm">
	        <button class="btn" ng-click="doSearch()">Search</button>
	    </form>
		Current Price: {{indexResult[0].l_cur}}<br/>
		Change:        {{indexResult[0].c}}<br/>
	</div>

</body>
</html>
