<html ng-app="MyApp">
<head>
    <title>To Do or Not Todo...</title>

    <script src="/js/lib/jquery.min.js" language="JavaScript"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>

    <script src="/js/lib/angular.min.js"></script>
    <script src="/js/lib/angular-resource.min.js"></script>
    <script src="/js/app.js" language="JavaScript"></script>
    <script src="/js/moment.min.js" language="JavaScript"></script>

</head>
<body>
<div ng-controller="AppCtrl">

    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>{{title}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <div id="message" class="alert alert-block" style="display:none;">
                    <button type="button" class="close">&times;</button>
                    <h4>Warning!</h4>

                    <div id="messageText"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span2">
            </div>
            <div class="span10">


                <table class="table table-striped">

                    <tr>
                        <th>Key</th>
                        <th>Priority</th>
                        <th>Description</th>
                        <th>Last Updated</th>
                        <th>&nbsp;</th>
                    </tr>
                    <tr>
                        <form class="form-horizontal">
                            <td><input type="text" ng-model="externalKey" class="input-small"/></td>
                            <td><input type="text" ng-model="priority" class="input-small"/></td>
                            <td><input type="text" ng-model="description" class="input-small"/></td>
                            <td>&nbsp;</td>
                            <td>
                                <button class="btn btn-primary btn-xs"
                                        ng-click="doAddUpdate(externalKey, description, priority)">Add/Update
                                </button>
                            </td>
                        </form>
                    </tr>

                    <tr ng-repeat="item in list">
                        <td>{{item.externalKey}}</td>
                        <td>{{item.priority}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.lastUpdated}}</td>
                        <td>
                            <button class="btn btn-danger btn-xs" ng-click="doDelete(item.externalKey)">X</button>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>